.weatherHolder{

	background-color: #87CEEB;
}

.morning {
	background-image: url('http://media1.santabanta.com/full1/Miscellaneous/Good%20Morning/good-morning-47a.jpg')
}

.day {
	background-image: url('http://6iee.com/data/uploads/1/595373.jpg')
}

.sunset {
	background-image: url('http://www.sekpic.com/uploads/good_evening_image_021429527833.jpg')
}

.evening {
	background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRVQETqmTwz_UmGsoZRB8esREwyjsKyBt7_NcN8X2OOXxyD_or-rA')
}

h1 {
	color: white;
}